<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="vistainnVB_Kiosk.My.MySettings.vistainnMSDBConnectionString"
			 connectionString="Data Source=WIN-R94M2MOLPIE\SQLEXPRESS;Initial Catalog=vistainnMSDB;User ID=vistainn;Password=20231916-N;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
</configuration>